<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TS3 Server Status</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.8/dist/handlebars.min.js"></script>
        <script type="text/javascript">
            Handlebars.registerHelper('timestamp', function (timestamp) {
                return new Date(timestamp).toLocaleString();
            });

            var onlineClientsTemplate = Handlebars.compile("{{#clients}}<tr><td>{{this.nickname}}</td><td>{{timestamp this.connectedSinceTimestamp}}</td><td>{{this.idleFor}}</td></tr>{{/clients}}");
            var offlineClientsTemplate = Handlebars.compile("{{#clients}}<tr><td>{{this.nickname}}</td><td>{{timestamp this.lastSeenTimestamp}}</td><td>{{this.offlineFor}}</td></tr>{{/clients}}");

            function refresh() {
                $.get('/api/clients/all', function (allClients) {
                    $('#online-list').html(onlineClientsTemplate({
                        clients: allClients
                            .filter(client => client.online)
                            .sort((a, b) => a.connectedSinceTimestamp - b.connectedSinceTimestamp)
                    }));
                    $('#offline-list').html(offlineClientsTemplate({
                        clients: allClients
                        .filter(client => !client.online)
                        .sort((a, b) => b.lastSeenTimestamp - a.lastSeenTimestamp)
                    }));
                });
            }

            $(document).ready(function() {
                if (document.location.hash.endsWith("offline")) {
                    $("#offline-tab").click();
                } else if (document.location.hash.endsWith("online") || document.location.hash === "") {
                    $("#online-tab").click();
                }
                refresh();
                setInterval(refresh, 10000);
            });
        </script>
    </head>
    <body>
        <ul class="nav nav-tabs" id="online-offline-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="online-tab" data-toggle="tab" href="#online" role="tab" aria-controls="online" aria-selected="true" onclick="document.location.hash='online'">Online Users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="offline-tab" data-toggle="tab" href="#offline" role="tab" aria-controls="offline" aria-selected="false" onclick="document.location.hash='offline'">Offline Users</a>
            </li>
        </ul>

        <div class="tab-content" id="tab-content">
            <div class="tab-pane fade show active" id="online" role="tabpanel" aria-labelledby="online-tab">
                <table class="table table-striped thead-dark table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Nickname
                            </th>
                            <th scope="col">
                                Connected since
                            </th>
                            <th scope="col">
                                Idle for
                            </th>
                        </tr>
                    </thead>
                    <tbody id="online-list">
                    </tbody>
                </table>
            </div>

            <div class="tab-pane fade show" id="offline" role="tabpanel" aria-labelledby="offline-tab">
                <table class="table table-striped thead-dark table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">
                                Nickname
                            </th>
                            <th scope="col">
                                Last seen
                            </th>
                            <th scope="col">
                                Offline for
                            </th>
                        </tr>
                    </thead>
                    <tbody id="offline-list">
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>